<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:include filename="base_uttu.gazebo.xacro"/>
  
  <xacro:macro name="base_uttu_v0" params="parent *joint_origin">
  
	<joint name="base_link_joint" type="fixed">
	  <xacro:insert_block name="joint_origin"/>
	  <parent link="${parent}"/>
	  <child link="base_link"/>
	</joint>

	<link name="base_link">
        <visual>
          <origin xyz="0 0 0" rpy="0 0 0" />
          <geometry>
            <mesh filename="$(find hexapod_pkg)/meshes/body.STL"  scale="1 1 1"/>
          </geometry>
          <material name="Grey">
            <color rgba="0.20 0.20 0.20 1.0"/>
          </material>
        </visual>
	  <collision>
		<geometry>
		  <mesh filename="$(find hexapod_pkg)/meshes/body_coll.STL"/>
		</geometry>
	  </collision>
        <inertial>
          <origin xyz="0 0 0" />
          <mass value="0.3"/>
          <inertia ixx="0.00"  ixy="0.00"  ixz="0.00" iyy="0.00" iyz="0.00" izz="0.00" />
        </inertial>
	</link>
  </xacro:macro>
  
</robot>
