<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" >


    <joint name="magnetometer_joint" type="fixed">
        <parent link="base_link"/>
        <child link="magnetometer_link"/>
        <origin xyz="0 0 0.025" rpy="0 0 0"/>
    </joint>

    <link name="magnetometer_link">
        <visual>
            <geometry>
                <box size="0.01 0.01 0.005"/>
            </geometry>
            <material name="black"/>
        </visual>
    </link>


    <gazebo reference="magnetometer_link">
      <selfCollide>false</selfCollide>
    </gazebo>


    <gazebo reference="magnetometer_link">
        <material>Gazebo/Gray</material>
        <sensor name="magnetometer" type="magnetometer">
        <pose>0 0 0 0 0 0</pose>
        <topic>/magnetometer</topic>
        <always_on>1</always_on>
        <update_rate>400</update_rate>

        <magnetometer>
            <x>
            <noise type="gaussian">
                <mean>0.0</mean>
                <stddev>8.7e-7</stddev>
            </noise>
            </x>
            <y>
            <noise type="gaussian">
                <mean>0.0</mean>
                <stddev>8.7e-7</stddev>
            </noise>
            </y>
            <z>
            <noise type="gaussian">
                <mean>0.0</mean>
                <stddev>8.7e-7</stddev>
            </noise>
            </z>
        </magnetometer>
        </sensor>
    </gazebo>

</robot>